include README.rst
include LICENSE
recursive-include src/project/core/templates *
recursive-include src/project/core/static *
recursive-include src/project/blog/templates *
recursive-include src/project/blog/static *
