include README.rst
include LICENSE
recursive-include src/mlb/core/templates *
recursive-include src/mlb/core/static *
recursive-include src/mlb/blog/templates *
recursive-include src/mlb/blog/static *
